<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ssm.Mapper.ItemMapper">
<insert id="addItem" parameterType="Item">
 INSERT INTO item(name,description,price,stock,img)
 VALUES (#{name},#{description},#{price},#{stock},#{img})
</insert>

<delete id="deleteItem" parameterType="int">
DELETE FROM item 
WHERE itemId=#{itemId}
</delete>

<select id="findAllItem" resultType="Item">
SELECT * FROM item 
</select>

<select id="findItemById" parameterType="int" resultType="Item">
SELECT FROM item 
WHERE itemId=#{itemId}
</select>

<update id="updateItem" >
UPDATE item SET 
name=#{name}, description=#{description}, price=#{price}, stock=#{stock}, img=#{img}
</update>
</mapper>