<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 


<mapper namespace="com.ssm.Mapper.OrderMapper">

<insert id="createOrder" parameterType="Order">
INSERT INTO order_  (createTime,totalCost,userId,itemId,number)
VALUES (#{createTime},#{totalCost},#{userId},#{itemId},#{number}) 
</insert>

<delete id="deleteOrder" parameterType="int">
DELETE FROM order_ WHERE orderId=#{orderId}
</delete>

<select id="getOrderByUser" parameterType="int" resultMap="OrderUserItemResultMap">
SELECT order_.*,item.*,user.username,user.address,user.phonenumber
 FROM order_,item,user
 WHERE order_.userId=user.userId
</select>

<select id="getAllOrder" resultMap="OrderUserItemResultMap">
SELECT order_.*,item.*,user.username,user.address,user.phonenumber
FROM order_,item,user
</select>

<resultMap type="com.ssm.Po.Order" id="OrderUserItemResultMap">
<id column="orderId" property="orderId"/>
<result column="createTime" property="createTime"/>
<result column="totalCost" property="totalCost"/>
<result column="userId" property="userId"/>
<result column="itemId" property="itemId"/>
<result column="number" property="number"/>

<association property="user" javaType="com.ssm.Po.User">
<id column="userId" property="userId"/>
<result column="username" property="username"/>
<result column="address" property="address"/>
<result column="phonenumber" property="phonenumber"/>
</association>

<association property="item" javaType="com.ssm.Po.Item">
<id column="itemId" property="itemId"/>
<result column="name" property="name"/>
<result column="description" property="description"/>
<result column="price" property="price"/>
<result column="img" property="img"/>
</association>
</resultMap>
</mapper>
